@{
    ViewData["Title"] = "Home Page";
}

<div>
 @using (Html.BeginForm("Edit", "ProductChange", FormMethod.Post)) {
    <input class="d-none" value="@Model.Id" type="text"    required name="Id">

    <label >Item name</label>
    <input class="form-control mb-2" value="@Model.Title" type="text"    required name="Title">
    <label> Quantiy </label>
    <input class="form-control mb-2" type="number"   value="@Model.Quantity"  required name="Quantity">
    <label> Price </label>
    <input class="form-control mb-2" type="text" value="@Model.Price"   required name="Price">
    <input class="btn btn-warning" type="submit">
    }
</div>
